$textColor: wheat;

body {
    background-color: rgb(54, 54, 54);
}

main {
    height: 40rem;
}


#login,
#register {
    /*I don't like this gradient much. Tried for a borealis look, but it didn't work.*/
    background-image: linear-gradient(280deg, rgba(70, 197, 144, 0.8), purple, rgba(90, 0, 90, 0.8), rgb(0, 0, 134), rgba(71, 61, 139, 0.9));
    border-radius: 3rem;

    & input {
        background-color: rgba(0, 0, 0, 0.3);
        color: $textColor;
        border-color: $textColor;

        &::placeholder {
            color: rgb(167, 146, 107);
        }
    }
}

/*This doesn't work on Mozilla*/
@property --btn-gradient-center {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(245, 222, 179, 0.30);
}

/**/
#login-btn,
#register-btn {
    --btn-gradient-center: rgba(245, 222, 179, 0.30);
    background-image: radial-gradient(var(--btn-gradient-center), rgba(245, 222, 179, 0.30));
    color: $textColor;

    transition: --btn-gradient-center 1s, --btn-gradient-outer 1s;

    &:hover,
    &.focus-visible {
        --btn-gradient-center: rgba(245, 222, 179, 0.55);
    }

}

#register-option,
#login-option {
    color: gainsboro;
    cursor: pointer;
}

/*Alert Message*/

.alert-message {
    margin-bottom: 22rem;
    font-size: 1.2rem;
    opacity: 0;
    animation: popup-slide-up-and-down 3s;
}

/*Popup Slide Animation*/

@keyframes popup-slide-up-and-down {

    10% {
        opacity: 0;
    }

    30% {
        transform: translate(0, -2rem);
        opacity: 1;
    }

    60% {
        transform: translate(0, -2rem);
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}


/*Tooltip*/

.tooltip-slide-up {
    animation: tooltip-slide-up .25s forwards;
}


.tooltip-slide-down {
    animation: tooltip-slide-down .25s forwards;
}

/*Toltip Slide Animation*/

@keyframes tooltip-slide-up {

    0% {
        opacity: 0;
    }

    100% {
        transform: translate(0, -2.5rem);
        opacity: 1;
    }
}

@keyframes tooltip-slide-down {

    0% {
        transform: translate(0, -2.5rem);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0rem);
        opacity: 0;
    }
}

/*Ripple*/

.ripple {
    left: 50%;
    top: 50%;
    width: 5cm;
    height: 5cm;
    transform: scale(0%);

    opacity: 1;
    background-color: rgba(245, 245, 220, 0.5);
    border-radius: 100%;
    animation: ripple-expand 2s forwards;
}

@keyframes ripple-expand {
    100% {
        transform: scale(100%);
        opacity: 0;
    }
}

/*Slide Animations*/

.slide-out-left {
    animation: slide-out-and-fade-out-left .75s forwards;
}

.slide-out-right {
    animation: slide-out-and-fade-out-right .75s forwards;
}

.slide-in-left {
    animation: slide-in-and-fade-in-left .75s forwards .5s;
}

.slide-in-right {
    animation: slide-in-and-fade-in-right .75s forwards .5s;
}

.slided-out-left {
    opacity: 0;
    transform: translate(-300%, 0);
}

.slided-out-right {
    opacity: 0;
    transform: translate(300%, 0);
}

@keyframes slide-out-and-fade-out-left {

    /*Shrink*/
    10% {
        transform: translate(0, 0) scale(80%);
    }

    35% {
        opacity: 1;
    }

    50% {
        transform: translate(20%, 0) scale(80%);
    }

    /*Move*/
    100% {

        opacity: 0;
        transform: translate(-300%, 0);
    }
}

@keyframes slide-out-and-fade-out-right {

    /*Shrink*/
    10% {
        transform: translate(0, 0) scale(80%);
    }

    35% {
        opacity: 1;
    }

    50% {
        transform: translate(-20%, 0) scale(80%);
    }

    /*Move*/
    100% {

        opacity: 0;
        transform: translate(300%, 0);
    }
}


@keyframes slide-in-and-fade-in-left {

    0% {
        transform: translate(300%, 0) scale(80%);
        opacity: 0;
    }

    60% {
        transform: translate(-20%, 0) scale(80%);
    }

    90% {
        opacity: 1;
        transform: translate(0, 0) scale(80%);
    }

    100% {

        opacity: 1;
        transform: translate(0, 0) scale(100%);
    }
}

@keyframes slide-in-and-fade-in-right {

    0% {
        transform: translate(-300%, 0) scale(80%);
        opacity: 0;
    }

    60% {
        transform: translate(20%, 0) scale(80%);
    }

    90% {
        opacity: 1;
        transform: translate(0, 0) scale(80%);
    }

    100% {

        opacity: 1;
        transform: translate(0, 0) scale(100%);
    }
}

/*Alert Message*/

.invalid-shake {

    animation: shake 1s;
}

/*Popup Slide Animation*/

@keyframes shake {

    15%,
    45%,
    75% {
        transform: translate(-0.35rem, 0);
        opacity: 1;
    }

    30%,
    60%,
    90% {
        transform: translate(0.35rem, 0);
        opacity: 1;
    }
}