.social-media-btn {
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: width .5s;

}

#facebook {
    &:hover {
        width: 8.25rem;
    }
}

#twitter {
    &:hover {
        width: 7rem;
    }
}

#instagram {
    &:hover {
        width: 8.5rem;
    }
}

#youtube {
    &:hover {
        width: 8rem;
    }
}

.social-media-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.social-media-name {
    width: 100%;
    height: 100%;
}