body {
    margin: 0px;
    background-color: gainsboro;
}

#starry-header {
    background-image: linear-gradient(330deg, purple, midnightblue, black);
    width: 100%;
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.star {
    position: absolute;
}

.small {
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 100%;
}

.medium {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
}


.large {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
}


.red {
    background-image: radial-gradient(darkred, transparent);
}

.cyan {
    background-image: radial-gradient(cyan, transparent);
}

.yellow {
    background-image: radial-gradient(yellow, transparent);
}

.orange {
    background-image: radial-gradient(orange, transparent);
}

/*Starting positions*/

.star:nth-child(1) {
    top: 2rem;
    left: 10%;
}

.star:nth-child(2) {
    top: 7rem;
    left: 15%;
}

.star:nth-child(3) {
    top: 6rem;
    left: 20%;
}

.star:nth-child(4) {
    top: 5rem;
    left: 30%;
}

.star:nth-child(5) {
    top: 9rem;
    left: 40%;
}

.star:nth-child(6) {
    top: 4rem;
    left: 60%;
}

.star:nth-child(7) {
    top: 1rem;
    left: 70%
}

.star:nth-child(8) {
    top: 17rem;
    left: 7%;
}

.star:nth-child(9) {
    top: 7rem;
    left: 3%;
}

.star:nth-child(10) {
    top: 8rem;
    left: 28%;
}

.star:nth-child(11) {
    top: 10rem;
    left: 34%;
}

.star:nth-child(12) {
    top: 6rem;
    left: 40%;
}

.star:nth-child(13) {
    top: 4rem;
    left: 60%;
}

.star:nth-child(14) {
    top: 1rem;
    left: 70%
}

.star:nth-child(15) {
    top: 1rem;
    left: 17%;
}

.star:nth-child(16) {
    top: 9rem;
    left: 14%;
}

.star:nth-child(17) {
    top: 4rem;
    left: 4%;
}

.star:nth-child(18) {
    top: 14rem;
    left: 15%;
}

.star:nth-child(19) {
    top: 9rem;
    left: 87%;
}

.star:nth-child(20) {
    top: 4rem;
    left: 54%;
}

.star:nth-child(21) {
    top: 1rem;
    left: 76%
}

.star:nth-child(22) {
    top: 2rem;
    left: 98%;
}

.star:nth-child(23) {
    top: 7rem;
    left: 78%;
}

.star:nth-child(24) {
    top: 6rem;
    left: 89%;
}

.star:nth-child(25) {
    top: 5rem;
    left: 78%;
}

.star:nth-child(26) {
    top: 9rem;
    left: 98%;
}

.star:nth-child(27) {
    top: 17rem;
    left: 89%;
}

.star:nth-child(28) {
    top: 11rem;
    left: 65%
}

.star:nth-child(29) {
    top: 18rem;
    left: 10%;
}

.star:nth-child(30) {
    top: 13rem;
    left: 15%;
}

.star:nth-child(31) {
    top: 8rem;
    left: 29%;
}

.star:nth-child(32) {
    top: 4rem;
    left: 34%;
}

.star:nth-child(33) {
    top: 17rem;
    left: 21%;
}

.star:nth-child(34) {
    top: 16rem;
    left: 65%;
}

.star:nth-child(35) {
    top: 1rem;
    left: 43%
}

.star:nth-child(36) {
    top: 15rem;
    left: 75%;
}

.star:nth-child(37) {
    top: 3rem;
    left: 87%;
}

.star:nth-child(38) {
    top: 14rem;
    left: 60%;
}

.star:nth-child(39) {
    top: 12rem;
    left: 50%;
}

.star:nth-child(40) {
    top: 9rem;
    left: 23%;
}

.star:nth-child(41) {
    top: 4rem;
    left: 42%;
}

.star:nth-child(42) {
    top: 7rem;
    left: 80%
}

.star:nth-child(43) {
    top: 4rem;
    left: 10%;
}

.star:nth-child(44) {
    top: 7rem;
    left: 55%;
}

.star:nth-child(45) {
    top: 7rem;
    left: 20%;
}

.star:nth-child(46) {
    top: 3rem;
    left: 30%;
}

.star:nth-child(47) {
    top: 9rem;
    left: 70%;
}

.star:nth-child(48) {
    top: 8rem;
    left: 90%;
}