body {
    margin: 0px;
    background-color: gainsboro;
}

#starry-header {
    background-image: linear-gradient(330deg, purple, darkblue, black);
    width: 100%;
    height: 40rem;
}

.red {
    background-color: darkred;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}